<div class="widget widget-instagram-slider auto-slider-fading">
	<h5><span>Layers of Luxe</span></h5>
	<div class="slides">
		{% for image in feed.images|slice(0, 9) %}
			<a class="slide" href="{{ image.url }}" rel="nofollow" style="background: url('{{ image.image }}') center center; background-size:cover;{% if loop.index > 1 %}display:none{% endif %}">
			</a>
		{% endfor %}
	</div>
</div>